@import '../../../../../../style/base/index';
.si-content-tag {
  display: flex;
  width: 100%;
  margin-top: 32px;

  @include media('<1300px') {
    flex-wrap: wrap;
  }

  &__item {
    width: 26.888%;
    min-width: 160px;
    margin-bottom: 15px;
    @include media('<1300px') {
      width: auto;
    }
    @include media('<1100px') {
      flex: 1 1 100%;
      width: 100%;
    }

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.5px;
      color: $color-bg-04;
      margin-bottom: 7px;
    }
    &-content {
      background: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      height: 47px;
      display: block;
      text-decoration: none;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -0.6px;
      color: $color-title;

      padding: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 4px;
    }

    //result tag
    &:first-child {
      flex: 0 0 332px;
      @include media('<1100px') {
        flex: 1 1 auto;
      }
    }
    &:not(:last-child) {
      margin-right: 9px;
      @include media('<1100px') {
        margin-right: 0;
      }
    }

    &--mod-1 {
      .si-content-tag__item-content {
        height: auto;
        padding: 0;
      }
    }
  }
}
