@import '../../../../../../../style/base/index';

.t-item-info {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.5px;
  color: $color-text;
  margin-top: 5px;
  &-value {
    font-weight: 500;
  }
  &-views {
    margin-left: 10px;
  }
}
