@import '../../style/base/index.scss';
@import '../../style/common/animations';
@import '../../style/common/overlay';

$aside-width: 468px;

.m-aside {
  position: fixed;
  right: 0;
  top: 0;
  max-width: $aside-width;
  width: 100%;
  height: 100%;
  background-color: $color-bg-01;
  box-shadow: -3px 0px 12px rgba(0, 0, 0, 0.1);
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;

  @include media('<=768px') {
    /*
    Don't use absolute. 
    It causes glitch animation under mobile view,
    and also shows horizontal scroll for a while
    */
    //position: absolute;
  }

  &--hidden {
    visibility: hidden;
  }

  &--anim-in {
    visibility: visible;

    will-change: transform, opacity;
    animation-name: fadeInRight;
    pointer-events: all;
  }
  &--anim-out {
    will-change: transform, opacity;
    animation-name: fadeOutRight;
    animation-timing-function: ease-in-out;
    pointer-events: none;
    animation-duration: 0.15s;
  }

  &--over {
    z-index: $z-index-overlay + 1;
  }
  &--type-no-shadow {
    box-shadow: none;
  }
  &--type-transparent-overlay {
  }
  &--type-title-mod-1 {
    .m-aside-header__title {
      font-size: 18px;
      @include media('<phone') {
        font-size: 16px;
      }
    }
  }

  &--type-in-dom {
    /*
    use position fixed to prevent horizontal scrolling
    when Aside is closed but exist in dom
    */
    position: fixed;
  }
}

.m-aside-left {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - #{$aside-width});
  height: 100%;
  z-index: $z-index-overlay + 2;

  animation-duration: $animation-time-primary;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;

  animation-name: fadeIn;

  &--close {
    animation-name: fadeOut;
  }
}

.m-aside-cnt {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  &__scroll {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: calc(100% - #{$header-height});
    overflow-y: auto;
    overflow-x: hidden;
    @include media('<phone') {
      height: calc(100% - #{$header-mobile-height});
    }
    &--type-entity {
      @include media('<phone') {
        height: calc(100% - #{$header-entity-mobile-height});
      }
    }
  }
}

.m-aside-header {
  @extend .g-header;
  &__title {
    @extend .m-title;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    @include media('<phone') {
      padding-top: 0;
      line-height: 17px;
      font-size: 18px;
      text-align: center;
      letter-spacing: -0.3px;
      color: $color-title-phone;
    }
  }
  &__left,
  &__right {
    flex: 0 0 100px;
    height: 100%;
    @include media('<phone') {
      flex: 0 0 60px;
    }
  }
  &__left {
  }
  &__middle {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 60%;
    margin: auto;
  }
  &__right {
    text-align: right;
    & > * {
      margin-left: auto;
      @include media('<phone') {
        display: inline-block;
      }
    }
  }

  &--type-entity {
    @include media('<phone') {
      height: $header-entity-mobile-height;
      .m-button--arrowLeft {
        width: 43px;
      }
    }
  }
}

.m-aside-content {
  padding: 15px;
  height: 100%;
  @include media('<phone') {
    padding: 15px 13px;
  }
  &--type-no-h-padding {
    padding-left: 0;
    padding-right: 0;
  }
  &--type-no-padding {
    padding: 0;
  }
  &--type-content-h-auto {
    height: auto;
  }
  &--type-content-mod-1 {
    padding: 32px 0 0;
  }
}
