@import "../../../../../style/base/index.scss";

.horse-label {
  user-select: none;
  color: #ffffff;
  background-color: $color-action-primary-01;
  border-radius: 2px;
  height: 26px;
  padding: 0 12px;
  text-transform: lowercase;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.3px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  b {
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > ::first-letter {
    text-transform: uppercase;
  }

  // for breeding
  &--mod-1 {
    background-color: $color-orange-primary;
  }

  //use when label position after text
  &--mod-to-right {
    margin-left: 10px;
  }

  &--mod-entity-header {
    margin-left: 10px;
    @include media("<850px") {
      margin-left: 4px;
      font-size: 8px;
      line-height: 10px;
      letter-spacing: -0.1px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      height: 16px;
    }
  }

  &--mod-too-long {
    max-width: 47%;
  }

  &--mod-entity-item {
    height: 16px;
    max-width: 100%;
    margin-top: 6px;
    justify-content: flex-start;
    margin-left: 6px;
    padding: 0 6px;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.1px;

    b {
      white-space: nowrap;
      max-width: 70%;
    }
  }

  &--mod-entity-title {
    height: 36px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0 14px;

    &:nth-child(1) {
      margin-right: 16px;
    }
  }

  &--mod-entity-page {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 19px;
    height: 38px;
    @include media("<phone") {
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 9px;
      font-weight: 500;
      font-size: 8px;
      line-height: 10px;
      letter-spacing: -0.1px;
      text-transform: uppercase;
      height: 16px;
      padding: 0 6px 0 5px;
    }
  }
}
