@import "styles/base/index.scss";
@import "../Column/ColumnTitle/ColumnTitle.scss";

@mixin mainPhoto() {
  cursor: pointer;
  position: relative;
  padding: 10px;
  width: 100%;

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    background: rgba(58, 135, 114, 0.35);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    pointer-events: none;
    opacity: 0;
    transition: opacity $animation-time-primary;
    @include media("<phone") {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }

  @include media("<phone") {
    height: auto;
    padding: 55.333% 0 0 0;
    .image {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@mixin m-column-half {
  width: auto;
  flex: 1 1 45%;
  max-width: 50%;
  &:nth-child(2n-1) {
    margin-right: $common-indent / 2;
    max-width: 432px; //max width for dashboard view
  }
  @include media("<content-half") {
    flex: 1 1 100%;
    max-width: 100%;
    &:nth-child(2n-1) {
      margin-right: 0;
      max-width: 100%;
    }
  }
}

.m-column {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  transition: box-shadow $animation-time-primary;
  display: flex;
  flex-flow: column;
  @include media("<phone") {
    border-radius: 0;
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &:not(:last-child) {
    margin-bottom: $common-indent / 2;
    @include media("<phone") {
      margin-bottom: $common-column-mobile-indent;
    }
  }

  &--type-overflow {
    overflow: hidden;
  }

  &--type-action {
    cursor: pointer;

    &:hover {
      @include hoverColumnTitle();
    }
  }

  &--type-sidebar {
    height: 175px;
  }
  &--type-column-indent {
    &:not(:last-child) {
      margin-bottom: $common-indent;
      @include media("<phone") {
        margin-bottom: $common-column-mobile-indent;
      }
    }
  }

  // for column with button
  &--type-content {
    height: 100%;
    max-height: 257px;
  }

  // for column without button
  &--type-content-mod-1 {
    height: 100%;
    max-height: 186px;
  }

  &--type-half {
    @include m-column-half();
  }

  &--type-main-photo {
    @include mainPhoto();
    height: 500px;
  }

  &--type-main-photo-mod-1 {
    @include mainPhoto();
    height: 253px;
  }

  &--type-related-sponsor {
    height: 226px;
  }

  .m-card-btn {
    margin-top: auto;
  }
}
