@import '../../../../../style/base/index';

.media-section-header {
  height: $header-height;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0) 100%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #ffffff;
    align-self: flex-start;
    padding: 16px 24px;
    line-height: 18px;
  }
}

.media-section-button{
  cursor: pointer;
  width: $header-height;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}