@import "../../../style/base/index.scss";

.cwc-content {
  display: flex;

  &__label {
    padding-right: 10px;
  }

  &__counter {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.25px;
    color: $color-text-01;
    margin-left: auto;
  }
}
