@import '../../../../../../../../style/base/index';

.t-info-item {
  margin-bottom: 8px;
  &:first-child {
    margin-top: 4px;
  }
  &:last-child {
    margin-bottom: 13px;
  }
  dt {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.5px;
    color: $color-grey-01;
  }
  dd {
    margin-top: 2px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: $color-title;

    p {
      margin-bottom: 8px;
    }
  }
}
