@import '../../style/base/index.scss';

.entities-search {
  &-container {
    position: relative;
    width: 100%;
  }
  &-input {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.4px;

    color: $color-text;
  }
}

.entities-list-calendar-button {
  position: absolute;
  top: 10px;
  right: 19px;
  @include media('<phone') {
    svg {
      width: 18px;
    }
    right: 10px;
    top: 2px;
  }
}
