@import '../base/index.scss';

@mixin entity($entityName: 'm-horse-item') {
  .#{$entityName} {
    position: relative;
    flex: 0 1 48%;
    max-width: 48%;
    cursor: pointer;
    &__img-cnt {
      height: 96px;
      width: 100%;
      border: 2px solid #d8d8d8;
      border-radius: 1px;
      margin-bottom: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-bg-04;
      @include media('<phone') {
        height: 70px;
      }
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__img-placeholder {
      svg {
        height: 32px;
        width: 32px;
      }
    }
    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.3px;
      color: $color-title;
      margin-left: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include media('<phone') {
        font-size: 16px;
        line-height: 18px;
        margin-left: 0;
        margin-top: 6px;
      }
    }
    &__label {
      user-select: none;
      font-weight: 500;
      font-size: 8px;
      line-height: 10px;
      letter-spacing: -0.1px;
      text-transform: uppercase;
      color: #ffffff;
      background: $color-action-primary-01;
      border-radius: 2px;
      position: absolute;
      left: 8px;
      top: 8px;
      height: 16px;
      padding: 0 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      &--mod-1 {
        background-color: $color-orange-primary;
      }
    }

    &--dashboard {
    }
    &--sidebar {
      max-width: 100%;

      .#{$entityName} {
        &__img-cnt {
          margin-bottom: 0;
          height: 108px;
          max-width: 213px;
          @include media('<phone') {
            height: 70px;
            max-width: 100%;
          }
        }
        &__title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          margin-top: 3px;
        }
      }
    }
  }
}

@mixin entityList() {
  display: flex;
  width: calc(100% - 34px);
  margin: 2px 14px 25px 20px;
  justify-content: space-between;
  @include media('<phone') {
    width: calc(100% - 24px);
    margin: 0 12px 15px 12px;
  }
}
