@import '../base/index.scss';
@import './animations.scss';

.overlay {
  background-color: rgba($color-bg-02, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: $z-index-overlay;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;

  &--aside {
    /*
      Improve performance
      By default user don't see the overlay on mobile
      set display none to prevent animation
    */
    @include media('<phone') {
      display: none;
      will-change: auto;
    }
  }

  &--over-1 {
    z-index: $z-index-overlay + 1;
  }
  &--over-2 {
    z-index: $z-index-overlay + 2;
  }
  &--over-3 {
    opacity: 0;
    pointer-events: none;
    transition: opacity $animation-time-primary;
  }

  &--below-popup-cnt{
    z-index: $z-index-overlay + 10;
  }

  &--anim {
    will-change: opacity;
    opacity: 1;
    pointer-events: all;
  }

  &--anim-in {
    will-change: transform, opacity;
    animation-name: fadeIn;
    pointer-events: all;
  }
  &--anim-out {
    will-change: transform, opacity;
    pointer-events: none;
    animation-name: fadeOut;
  }

  &--transparent {
    background-color: transparent;
  }
}
