@import "../../style/base/index.scss";

.common-checkbox {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 18px;

  &__img {
    font-size: 0;

    &:before {
      content: "";
      width: 18px;
      height: 18px;
      background: transparent;
      border-radius: 2px;
      border: 1px solid rgba(155, 155, 155, 0.347854);
      position: absolute;
      left: 0;
      top: 0;
    }

    &-icon {
      width: 15px;
      height: 11px;
      position: absolute;
      left: 2px;
      top: 3px;
      opacity: 0;
      transform: scale(0);
      transition: opacity $animation-time-primary, transform $animation-time-primary;
      path {
        fill: var(--accent-color-primary);
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    color: $color-title;
    padding-left: 14px;
    transition: font-weight $animation-time-primary - 0.1;
  }

  input {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }
  input:checked ~ .common-checkbox__img {
    .common-checkbox__img-icon {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.common-checkbox--block {
  height: 50px;
  line-height: 52px;
  background: $color-grey;
  border: 1px solid $color-grey-03;
  border-radius: 5px;
  padding-left: 15px;
  transition: box-shadow 0.2s;
  .common-checkbox {
    &__text {
      font-size: 18px;
      color: $color-text;
      padding-left: 10px;
      padding-right: 23px;
      display: inline-block;
    }
    &__img {
      height: 100%;
      display: inline-block;
      vertical-align: top;
      width: 18px;
      position: relative;
      &:before {
        bottom: 0;
        margin: auto;
      }
      &-icon {
        top: 0;
        bottom: 1px;
        margin: auto;
      }
    }
  }
  &.is-active,
  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}

.common-checkbox--setting {
  position: relative;
  display: flex;
  align-self: flex-start;
  width: 100%;
  height: 47px;
  align-items: center;
  padding: 0;
  .common-checkbox {
    &__img {
      position: absolute;
      right: 34px;
      top: 14px;
      &:before {
        width: 20px;
        height: 20px;
      }
      &-icon {
        top: 3px;
        left: 3px;
        width: 16px;
        height: 13px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.6px;
      color: $color-title;
      padding: 0 50px 0 15px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  input:checked ~ .common-checkbox__text {
    font-weight: 500;
  }
}

.common-checkbox--mod-1 {
  .common-checkbox {
    &__img {
      &:before {
        width: 20px;
        height: 20px;
      }
      &-icon {
        left: 3px;
        top: 4px;
      }
    }
    &__text {
      font-weight: 500;
      padding-left: 12px;
    }
  }
}

.common-checkbox--mod-2 {
  .common-checkbox {
    &__img {
      &:before {
        width: 16px;
        height: 16px;
      }
      &-icon {
        width: 13px;
        height: 11px;
        left: 2px;
        top: 2px;
      }
    }
    &__text {
      padding-left: 6px;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.3px;
      color: $color-title;
    }
  }
}

.common-checkbox--disabled {
  pointer-events: none;
  .common-checkbox {
    &__img {
      opacity: 0.3;
    }
    &__text {
      color: $color-grey-03;
    }
  }
}

.common-checkbox--not-active {
  cursor: default;
  background-color: $color-bg-12;
  .common-checkbox {
    &__img {
      &-icon {
        background-image: url("./imgs/checkmark-black.svg");
      }
    }
    &__text {
      color: $color-text-01;
    }
  }
}
