@import '../../../style/base/index.scss';

.m-result-item {
  display: flex;
  height: 72px;
  padding-top: 5px;
  background: white;
  cursor: pointer;
  @include media('<phone') {
    padding-top: 6px;
  }
  &__left-cnt {
    width: 58%;
    text-align: left;
    @include media('<phone') {
      width: 46%;
    }
  }
  &__right-cnt {
    margin-left: auto;
    margin-right: 22px;
    @include media('<phone') {
      margin-right: 18px;
    }
  }
  &__flag {
    margin-left: 21px;
    margin-right: 10px;
    margin-top: 2px;

    img {
      width: 40px;
      height: 26px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    @include media('<phone') {
      margin-left: 13px;
    }
  }
  &__show-and-level {
    height: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: #424242;
    @include media('<phone') {
      height: 22px;
    }
  }
  &__show {
    max-width: 60%;
    padding-right: 4px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__level {
    max-width: 40%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__class {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.5px;
    @include media('<phone') {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.3px;
    }
    color: $color-text;
    @include media('<phone') {
      height: 19px;
    }
  }
  &__member-and-horse {
    font-style: normal;
    display: flex;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $color-text;
    @include media('<phone') {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__place {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: -0.3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 85px;
    color: $color-title;
    @include media('<phone') {
      max-width: 80px;
    }
  }
  &__date {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: -0.5px;
    color: $color-text;
    margin-top: 20px;
    white-space: nowrap;
    @include media('<phone') {
      font-size: 14px;
      line-height: 16px;
      margin-top: 25px;
    }
  }

  &--sidebar {
    padding-top: 13px;
    height: 76px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .m-result-item__flag {
      margin-left: 15px;
      @include media('<phone') {
        margin-left: 12px;
      }
    }
    .m-result-item__right-cnt {
      margin-right: 15px;
    }
    .m-result-item__left-cnt {
      width: 62%;
      @include media('<phone') {
        width: 46%;
      }
    }
  }
}

.m-result-aside-list__item:nth-child(even) {
  background: $color-bg-04;
}

.m-result-aside-list__item:first-child {
  padding-top: 21px;
  height: 84px;
  @include media('<phone') {
    padding-top: 20px;
  }
}

.member-and-horse {
  &__text {
    font-weight: 600;
    overflow: hidden;
    max-width: 46%;
    text-overflow: ellipsis;
  }
}
