@import '../../../../../style/base/index';

//timeline item
.t-item {
  margin-bottom: 22px;
  outline: none !important;
  background-color: #fff;
  &__img {
    width: 100%;
  }

  &__desc {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: $color-title;
    font-weight: 500;
    margin-top: 9px;
  }

  &__more-info {
    margin-top: 10px;
  }

  &__video {
    height: 210px;
    position: relative;
    &-img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    &-play-cnt {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    }
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding: 10px 12px;
  }
}

.t-item-uppercase {
  text-transform: uppercase;
}
