//general notify banner button
@import "../../../../style/base/index.scss";

.g-nb-btn {
  user-select: none;
  cursor: pointer;
  background: $color-bg-14;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 34px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: none;
  min-width: 128px;
  @include media("<670px") {
    width: 100%;
    letter-spacing: -0.3px;
    height: 42px;
    margin-right: 0;
  }
}
