$color-bg: #297864;
$color-bg-01: #eeeeee;
$color-bg-02: #747474;
$color-bg-03: #fafafc;
$color-bg-04: #f2f4f7;
$color-bg-05: #f7faff;
$color-bg-06: #edf1f7;
$color-bg-07: #e1e1e6;
$color-bg-08: #dfe2e8;
$color-bg-09: #fcfcfc;
$color-bg-10: #c4c4c4;
$color-bg-11: #acb7c2;
$color-bg-12: #fafafa;
$color-bg-13: #f9fafb;
$color-bg-14: #fbf3e3;
$color-bg-15: #222222;
$color-bg-16: #181818;
$color-bg-17: #323232;
$color-bg-18: #ECF4F4;
$color-bg-19: #F6F8F9;
$color-bg-20: #E1E1E5;

$color-blue: #0978B8;

$color-red-primary: #ad3030;
$color-orange-primary: #e3b465;
$color-orange-01: #e89938;
$color-orange-02: #ebc271;
$color-green-primary: #3a8772;
$color-green-01: #1c785f;
$color-green-02: #278538;
$color-green-03: #398772;

$color-title: #424242;
$color-title-phone: #4e4e4e;
$color-text: #747474;
$color-text-01: #9b9b9b;
$color-text-02: #cccccc;
$color-text-03: #acb7c2;
$color-text-04: #8599AD;
$color-text-important: #d99526;
$color-primary: #297864;
$color-action-primary: #3a8772;
$color-action-primary-01: #1c785f;
$color-hover-primary: #acb7c2;

$color-error-primary: #f03d25;
$color-error-secondary: #d63b3b;
$color-error: #f03d25;
$color-error-01: #d66767;

$color-grey: #fafafc;
$color-grey-01: #9b9b9b;
$color-grey-02: #424242;
$color-grey-03: #d8d8d8;
$color-grey-04: #636363;
$color-grey-05: #dbdbdb;
$color-grey-06: #979797;
$color-grey-07: #dfe2e8;
