$font-family: 'Montserrat', sans-serif;

$animation-time-primary: 0.2s;

$max-content-width: 1319px;

$common-indent: 20px;
$common-column-mobile-indent: 16px;

$z-index-popup: 5000;
$z-index-loader: 10000;
$z-index-overlay: 11000;

$bp-phone: 479px;
$breakpoints: (
  'phone': $bp-phone,
  'content-half': 1100px,
);

$header-height: 76px;
$header-mobile-height: 52px;
$header-entity-mobile-height: 68px;
