.m-title {
  user-select: none;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  font-size: 24px;
  text-align: center;
  color: $color-title;
  &--mod-1 {
    font-weight: 600;
    line-height: 30px;
    font-size: 18px;
  }

  &--mobile {
    @include media('<phone') {
      line-height: 21px;
      font-size: 16px;
      text-align: center;
      letter-spacing: -0.3px;
      color: $color-title-phone;
      font-weight: bold;
      white-space: nowrap;
    }
  }
}

.m-title-phone {
  line-height: 21px;
  font-size: 13px;
  text-align: center;
  letter-spacing: -0.3px;
  color: $color-title-phone;
}

.m-text {
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
  text-align: center;
  color: $color-text;
}

.m-btn {
  user-select: none;
  cursor: pointer;
  width: 76px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
  @include commonHover();
  @include media('<phone') {
    &:active,
    &:hover {
      background-color: transparent !important;
    }
  }
}

.m-btn--type-1 {
  &:hover {
    background-color: $color-green-primary;
    color: #fff;
  }
  &:focus {
    background-color: $color-green-01;
    color: #fff;
  }
}

.m-btn-text {
  user-select: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  font-size: 10px;
  text-transform: uppercase;
  color: $color-text-01;
  transition: color 0.2s;
  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
    color: $color-title;
  }
}

.g-header {
  height: $header-height;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media('<phone') {
    height: $header-mobile-height;
  }
}
