@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

@mixin text-overflow-dots{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin text-overflow-fading($left, $right, $top, $bottom, $height) {
  content: '';
  position: absolute;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;

  height: $height;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.0001) 49.28%,
    rgba(255, 255, 255, 0.82) 84.9%
  );
}

@mixin commonHover() {
  &:hover {
    background-color: $color-bg-06;
  }
  &:active {
    background-color: $color-bg-08;
  }
}
