@import '../../style/base/index.scss';

@mixin disabledStyles() {
  color: $color-grey-03;
  &:hover,
  &:focus {
    background: transparent;
    color: $color-grey-03;
  }
}

.m-button {
  @extend .m-btn;

  &--mod-1 {
    min-width: 68px;
    height: 68px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  /** Skip button */
  &--mod-2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $color-text;
    @include media('<phone') {
      line-height: 21px;
      font-size: 16px;
      letter-spacing: -0.3px;

      width: auto;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      text-align: right;
      padding-right: 13px;
      padding-left: 13px;
      span {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
  }

  &--type-text {
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: $color-green-primary;
    @extend .m-btn--type-1;

    @include media('<phone') {
      line-height: 21px;
      letter-spacing: -0.3px;

      width: auto;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      text-align: right;
      padding-right: 12px;
      padding-left: 12px;
      span {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
      }

      &:active,
      &:hover {
        color: $color-green-primary;
      }
    }
  }

  &--mod-3{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: $color-green-primary;
  }

  &--close{
    @include media('<phone') {
      height: 100%;
      width: 48px;
      img {
        width: 67px;
      }
    }
  }

  &--arrowLeft {
    @include media('<phone') {
      width: $header-mobile-height;
      height: 100%;
      img {
        width: 17px !important;
        position: relative;
        right: 1px;
      }
    }
  }

  &--not-active {
    @include disabledStyles();
  }

  &--disabled {
    @include disabledStyles();
    pointer-events: none;
  }

  &--plus {
    display: flex !important;

    @include media('<phone') {
      width: $header-mobile-height;
      height: $header-mobile-height;
      padding-right: 8px;
    }

    img {
      width: 27px;
      @include media('<phone') {
        width: 22px;
      }
    }
  }
}

.m-button-action {
  user-select: none;
  cursor: pointer;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  color: $color-title;
  transition: background-color 0.2s, color 0.2s;
  @include commonHover();

  &--type-close {
    font-weight: 600;
  }

  &--type-borderTop {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: calc(100% - 40px);
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    &:last-child {
      &:after {
        top: -1px; //hide border on hover delete btn
      }
    }
  }

  &--type-remove {
    &:hover {
      color: #fff;
      background-color: rgba(173, 48, 48, 0.65169);
    }

    &:focus,
    &:active {
      color: #fff;
      background-color: rgba(173, 48, 48, 0.751619);
    }
  }

  &--type-mod-1 {
    font-weight: 500;
  }
}
