@import '../../../style/base/index.scss';

.news-item {
  cursor: pointer;
  overflow: hidden;
  height: 136px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  padding-right: 21px;
  padding-top: 16px;

  &:before {
    transition-duration: $animation-time-primary;
    transition-property: opacity;
    width: 96%;
    @include text-overflow-fading(0px, auto, 17px, auto, 100px);
  }

  @include media('<phone') {
    align-items: flex-start;
    padding: 10px;
    min-width: 300px;
    width: 100%;
    max-height: 100px;
    &:before {
      pointer-events: none;
      content: '';
      height: 0;
      width: 0;
      opacity: 0;
    }
  }

  &:hover {
    &:before {
      content: '';
      pointer-events: none;
      opacity: 0;
    }
  }

  &--dashboard {
    padding: 0;
    height: 130px;
    width: 50%;
    &::before {
      width: 100%;
    }
    &:first-child {
      margin-right: 20px;
    }

    @include media('<=1250px') {
      width: 100%;
    }
    @include media('<phone') {
      height: auto;
      max-height: 100%;
      margin-bottom: 20px;
    }
  }
  &--sidebar {
    @include media('<phone') {
      .news-item-content__without-image {
        max-height: 77px;
        .news-item-description {
          max-height: 32px;
        }
      }
    }
  }

  &--placeholder {
    align-items: baseline;
    padding-left: 0;
  }

  &-content {
    align-self: flex-start;
    margin-left: 10px;
    max-height: 100px;
    overflow: hidden;
    box-sizing: border-box;
    @include media('<phone') {
      max-height: 72px;
      margin-left: 8px;
    }
    &__without-image {
      overflow: hidden;
      align-self: flex-start;
      margin-top: 2px;
      max-height: 100px;
      @include media('<phone') {
        .news-item-date-of-creating {
          padding-bottom: 4px;
        }
        .news-item-description {
          max-height: 49px;
        }
        margin-left: 2px;
        max-height: 100%;
      }
    }
  }

  &-placeholder {
    padding: 0;
  }

  &-img {
    align-self: flex-start;
    z-index: 2;
    flex: 0 0 179px;
    height: 103px;
    background: $color-grey-03;
    border: 2px solid $color-grey-03;
    border-radius: 2px;

    @include media('<phone') {
      flex: 0 0 137px;
      height: 80px;
    }
  }

  &-date-of-creating {
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: $color-title;
    align-self: flex-start;
    @include media('<phone') {
      padding-top: 2px;
      padding-bottom: 3px;
      line-height: 16px;
      letter-spacing: -0.3px;
    }
  }

  &-title {
    margin-bottom: 3px;
    word-break: break-word;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: $color-title;
    width: 100%;
    overflow: hidden;
    @include media('<phone') {
      color: $color-title-phone;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.5px;
      margin-bottom: 3px;
    }
  }

  &-description {
    word-break: break-word;
    padding-bottom: 7px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.5px;
    color: $color-text;
    overflow: hidden;
    text-overflow: ellipsis;
    @include media('<phone') {
      max-height: 33px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.3px;
      padding-bottom: 0;
    }
  }
}
