@import "../../style/base/index.scss";

.m-scroll {
  &__track-v {
    position: absolute;
    width: 4px;
    right: 2px;
    top: 4px;
    bottom: 4px;
    z-index: $z-index-overlay;
    div {
      background-color: $color-grey-03 !important;
      border-radius: 2px !important;
      transition: background-color 0.2s ease 0s;
      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }

  &__track-h {
    position: absolute;
    height: 6px;
    width: 100%;
    bottom: 0;
    z-index: $z-index-overlay;
    div {
      background-color: $color-grey-03 !important;
      border-radius: 2px !important;
      transition: background-color 0.2s ease 0s;
      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
}
