@import '../../../style/base/index.scss';
.news-aside {
  background: white;
  width: 468px;
  &__scroll {
    background: white;
  }
  &-list {
    background: $color-bg-01;
    &-item {
      background: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      &:after {
        content: '';
        position: absolute;
        width: 97%;
        bottom: 0;
        border-bottom: 1px solid rgba(155, 155, 155, 0.15);
      }
    }
  }
}
.m-aside-cnt__scroll {
  overflow-y: hidden;
}
