@import "../../../../../style/base/index";

$anim-time: 0.08s;

@mixin isActive {
  border-color: var(--accent-color-primary);
  &:after {
    opacity: 1;
  }

  .grid-item__content-over {
    background-color: rgba(0, 0, 0, 0);
  }
}

.grid-item {
  cursor: pointer;
  border: 2px solid $color-bg-10;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  transition: border-color $anim-time ease-in;
  outline: none !important;
  padding-top: 96%;
  &:hover {
    @include isActive();
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(
      var(--accent-color-primary-h),
      var(--accent-color-primary-s),
      var(--accent-color-primary-l),
      0.5
    );
    opacity: 0;
    transition: opacity $anim-time ease-in;
  }

  &#{&}--selected {
    @include isActive();
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__no-data {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content-over {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color $anim-time ease-in;
    z-index: 1;

    &-img {
    }
  }

  &#{&}--type-big-item {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    width: 100%;
    height: 100%;
  }

  &#{&}--type-video-small {
    .grid-item__content-over-img {
      width: 54px;
      height: 38px;
      object-fit: contain;
    }
  }
}
