@import '../../../../../styles/base/index';

.m-column-cnt {
  display: flex;
  flex-flow: row wrap;
  height: 257px;
  width: 100%;

  @include media('<content-half') {
    height: auto;
  }

  .m-column:not(:last-child) {
    margin-bottom: $common-indent / 2;
  }

  &--mod-indent {
    margin-bottom: $common-indent / 2;
    @include media('<phone') {
      margin-bottom: $common-column-mobile-indent;
    }
  }

  &--mod-height-auto {
    height: auto;
  }

  // on home page when one of the entity without data
  &--mod-height-1 {
    height: 235px;
    margin-bottom: $common-indent / 2;
    @include media('<content-half') {
      height: auto;
      min-height: 235px;
    }
    .m-content-placeholder {
      padding: 26px 0 0 0;
      @include media('<phone') {
        padding: 24px 27px 0 0;
      }
    }
    .column-placeholder {
      height: auto;
      min-height: 235px;
      @include media('<phone') {
        min-height: 203px;
      }
    }
  }

  // on home page results and sponsors section / and for services
  &--mod-height-res-spon,
  &--mod-height-services {
    height: 257px;
    margin-bottom: $common-indent / 2;
    @include media('<content-half') {
      height: auto;
      min-height: 257px;
    }
    .column-placeholder {
      height: auto;
      min-height: 257px;
      @include media('<phone') {
        min-height: 203px;
      }
    }
  }

  //on entity page when both entities with data
  &--mod-height-2 {
    height: 186px;
    .m-column {
      max-height: 100%;
    }
  }
  //on entity page when one of the entities without data
  &--mod-height-3 {
    height: 214px;
    .m-column {
      max-height: 100%;
    }
    @include media('<content-half') {
      height: auto;
    }
  }
  //on entity page (horse) when one of the entities without data
  &--mod-height-4 {
    height: 257px;
    .m-column {
      height: 100%;
      max-height: 100%;
    }
    @include media('<content-half') {
      height: auto;
    }
  }
  //on entity page (horse) when entities without data
  &--mod-height-5 {
    height: 243px;
    .m-column {
      height: 100%;
      max-height: 100%;
    }
    @include media('<content-half') {
      height: auto;
    }
  }
}
