@import '../../style/base/index.scss';

.no-data-title{
  font-style: normal;
  font-weight: 600;
  padding-top: 74px;
  align-self: center;
  height: 100%;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: $color-text-01;
}