@import '../../../../../../../style/base/index';

.more-info {
  user-select: none;

  &--open {
    .more-info {
      &__content {
        max-height: 100%;
        opacity: 1;
      }
    }
    .more-info-arrow {
      //not perfect animation
      //transform-origin: 52% 60%;
      //instead use
      position: relative;
      top: 2px;

      transform: rotate(180deg);
    }
  }

  &__title {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: $color-title;
  }
  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s;
  }
}
.more-info-arrow {
  transition: all 0.4s ease 0s;
  transform: rotate(0deg);
}
