@import '../../../../style/base/index';

$grid-item-size: 138px;
$grid-item-size-mobile: 113px;

.grid-images-cnt {
  border-top: 1px solid $color-bg-08;
  width: 100%;
  height: 100%;
}

.grid-images {
  padding: 15px;
  margin-bottom: 58px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, $grid-item-size);
  grid-gap: 12px;

  @include media('<phone') {
    padding: 13px;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item {
    width: $grid-item-size;
    height: $grid-item-size;

    @include media('<phone') {
      height: 100%;
      width: 100%;
    }
  }
}
