@import 'styles/base/index.scss';

.m-content-placeholder {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 33px 0;

  &__img {
    margin-right: 16px;
    margin-left: 16px;
  }
  @include media('<phone') {
    padding: 23px 27px 23px 0;
  }
}
