@import '../../../../style/base/index';

.media-calendar-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 14px;

  @include media('<phone') {
    padding-right: 0;

    .calendar-btn--mod-1 {
      width: 44px;
      height: 44px;
    }

    svg {
      width: 20px;
    }
  }
}
