@import '../../../style/base/index.scss';
.aside-all-results {
  overflow: hidden;
  &__overlay {
    background-color: rgba(116, 116, 116, 0.8);
    z-index: 2;
  }
  &__header_noresults {
    font-style: normal;
    font-weight: 600;
    padding-top: 74px;
    align-self: center;
    height: 100%;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $color-text-01;
  }
}
