@import '../../../../style/base/index.scss';
@import '../../../../style/common/typography.scss';

.m-search-aside-list {
  height: calc(100% - 62px);
  width: 100%;
  &_white {
    background: white;
  }
  &_padding-top {
    padding-top: 6px;
  }
  &__item {
    padding: 0 12px;

    @include media('<phone') {
      padding: 0 10px;
    }

    &:first-child {
      margin-top: 20px;
      @include media('<phone') {
        margin-top: 13px;
      }
    }
    &:last-child {
      margin-bottom: 20px;
      @include media('<phone') {
        margin-bottom: 13px;
      }
    }
  }
  &__no-results {
    user-select: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $color-text-01;

    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 72px;
  }
}
