@import "../../style/base/index.scss";

//dashboard-back
.d-back {
  width: $header-height;
  height: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--in-header {
    @include media("<phone") {
      width: auto;
      margin-left: 12px;
      svg {
        width: 16px;
      }
    }
  }

  &--black {
    path {
      fill: $color-grey-02;
    }
  }

  &--white {
    path {
      fill: white;
    }
  }
}
