@import "../../style/base/index.scss";

//general notify banner
.g-nb {
  background-color: $color-orange-02;
  display: flex;
  align-items: center;
  justify-content: center;
  &__cnt {
    max-width: 1400px;
    width: 100%;
    height: 94px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    @include media("<670px") {
      padding: 0 13px 10px 12px;
      flex-flow: column;
      height: auto;
    }
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.3px;
    color: $color-bg-15;

    @include media("<670px") {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: -0.2px;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 4px;
    }
  }
  &__desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: $color-title;

    @include media("<670px") {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: -0.5px;
    }
  }
  &__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1 1 auto;
    padding-bottom: 10px;
    padding-right: 20px;
    @include media("<670px") {
      padding-right: 0;
    }
  }
  &__content-right {
    display: flex;
    @include media("<670px") {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}
