@import '../../../../style/base/index.scss';
.clear-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 8px 7px 7px 7px;
  display: flex;
  align-items: center;
  .isvg {
    line-height: 0;
  }
}
