@import '../../../../../style/base/index';
@import '../MediaSection';

//media section slider
.ms-slider {
  display: flex;
  width: 100%;
  margin-top: 20px;
  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none !important;
    flex: 0 0 87px;
    height: $slider-height;
    display: flex;
    justify-content: center;
    align-items: center;
    &--left {
      padding-right: 15px;
    }
    &--right {
      padding-left: 15px;
    }
    &--disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 30px;
  }
}
