@import '../../../../../styles/base/index';
@import '../Column';

.column-placeholder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $common-indent / 2;

  @include media('<phone') {
    margin-bottom: $common-column-mobile-indent;
  }

  &--type-half {
    @include m-column-half();
  }
  &--type-content {
    .m-column {
      height: 100%;
    }
  }
  &--mod-1 {
    @include media('<phone') {
      padding: 10px 32px 0 0;
    }
  }
}

.column-placeholder-button {
  margin-top: auto;
  @include media('<phone') {
    margin-top: 13px;
  }
}
