@import '../../../style/base/index.scss';

.action {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0596128);
  .svg-path-fill {
    svg {
      path {
        fill: #fff;
      }
    }
    path {
      fill: #fff;
    }
  }
  .svg-path-stroke {
    svg {
      path {
        stroke: #fff;
      }
    }
    path {
      stroke: #fff;
    }
  }
}

$line-indent: 68px;
$line-indent-mobile: 46px;

.m-card-btn {
  position: relative;
  cursor: pointer;
  height: 44px;
  width: 100%;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media('<phone') {
    height: 50px;
  }
  &:hover {
    color: #fff;
    background-color: $color-green-primary;
    @extend .action;
  }
  &:focus {
    color: #fff;
    background-color: $color-green-01;
    @extend .action;
  }
  &--type-line {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: calc(100% - #{$line-indent} * 2);
      height: 1px;
      background: rgba(155, 155, 155, 0.24);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
      @include media('<phone') {
        width: calc(100% - #{$line-indent-mobile} * 2);
      }
    }
  }
  &--type-plus {
    @include media('<phone') {
      .svg-image {
        width: 18px;
        height: 18px;
      }
    }
  }
  &--type-dots {
    height: 100%;
    @include media('<phone') {
      .svg-image {
        width: 35px;
      }
    }
  }
  &--type-full-h{
    height: 100%;
  }

  &--type-danger{
    &:hover{
      background-color: $color-error-01;
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }
}
