@import '../../../style/base/index.scss';

.input-phone {
  text-align: left;

  .react-tel-input {
    border-bottom: 1px solid #9b9b9b;

    .form-control {
      width: 100%;
      border: none;
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      line-height: 30px;
      font-size: 24px;
      color: #424242;
      padding-left: 40px;
    }

    .flag-dropdown {
      border: none;
      background-color: transparent;
    }

    .country-list {
      width: 426px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

      .country {
        &:hover,
        &.highlight {
          background: #f7f7fa;
        }
      }

      .country-name {
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        line-height: 21px;
        font-size: 14px;
        color: #4e4e4e;
        margin-left: 4px;
      }

      .dial-code {
        font-family: $font-family;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        font-size: 18px;
        color: #424242;
      }
    }
  }

  &.error {
    .react-tel-input {
      border-bottom: 1px solid $color-error-primary;
    }
  }

  &--mod-1 {
    display: flex;
    align-items: center;

    .react-tel-input {
      border: none;

      .form-control {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        padding-left: 43px;
        letter-spacing: -0.5px;
        cursor: pointer;
      }

      .flag-dropdown {
        border: none;
        background-color: transparent;

        .arrow {
          display: none;
        }

        .flag {
          // it is `zoom` cross-platform analog for making flag bigger
          // cause library react-input-2 are using sprite method of working with image so height and width are not working
          transform: scale(2);
          transform-origin: 1% 50%;
        }
      }
    }
  }

  &--mod-2 {

    .react-tel-input {
      border: 1px solid $color-grey-03;
      box-sizing: border-box;
      border-radius: 6px;
      height: 55px;
      width: 385px;

      input {

        height: 100%;

        &::placeholder {
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          letter-spacing: -0.6px;
          color: $color-bg-11;
        }
      }

      .country-list {
        bottom: 48px;
        width: 385px;
        box-shadow: 0px -12px 30px rgba(0, 0, 0, 0.15), 0px 2px 30px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
      }

      @include media("<720px") {
        width: 208px;
        height: 38px;
        border-radius: 5px;
        .form-control {
          font-size: 18px;
          line-height: 20px;
          letter-spacing: -0.6px;
        }
        .country-list {
          width: 208px;
          bottom: 35px;
        }
        input {
          &::placeholder {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -0.3px;
          }
        }
      }
      @include media("<370px") {
        width: 160px;
        .country-list {
          width: 160px;
        }
      }
    }

  }
}
