@import 'styles/base/index.scss';

.m-horse-aside-list {
  padding: 15px 15px 8px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media('<phone') {
    padding: 14px 12px 8px;
  }
  &__item {
    flex: 0 0 48.6%;
    max-width: 48.6%;
    margin-bottom: 15px;
    @include media('<phone') {
      margin-bottom: 10px;
    }
  }
}
