@import '../../../style/base/index.scss';

.entities-search-data {
  background: $color-bg-04;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.4px;
  text-align: left;
  padding-top: 12px;
  @include media('<phone') {
    font-size: 13px;
    padding-left: 11px;
    padding-right: 10px;
    padding-top: 10px;
  }
  padding-left: 15px;
  padding-right: 22px;
  color: $color-grey-04;
  &-clear-button {
    float: right;
    cursor: no-drop;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.4px;

    @include media('<phone') {
      line-height: 18px;
      font-size: 13px;
      letter-spacing: -0.3px;
    }
    &_active {
      float: right;
      cursor: pointer;
      text-decoration-line: underline;

      color: var(--accent-color-primary);
    }
    color: $color-text-01;
  }
}
