@import "../../../style/base/index.scss";

.horse-status-label {
  display: flex;
  justify-content: center;
  max-width: 100%;
  @include media("<1000px") {
    margin-top: 4px;
  }

  &--entity-item {
    position: absolute;
    flex-wrap: wrap;
    padding-right: 12px;
    justify-content: flex-start;
    @include media("<1000px") {
      margin-top: 0;
    }
  }

  &--entity-title {
    position: relative;
  }
}
