@import "../style/base/index.scss";

@mixin fullLoader() {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.loader {
  line-height: 0;
  &__cnt {
    font-size: 0;
    line-height: 0;
  }
  /**
    renders in the center of screen
   */
  &--full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: $z-index-loader;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
  }
  /**
    renders in the center of relative block
   */
  &--full {
    @include fullLoader();
    z-index: $z-index-loader;
  }

  &--full-over-all {
    @include fullLoader();
    z-index: $z-index-loader + 5000;
  }

  &--transparent-bg {
    background: transparent;
  }
}
