@import '../../../../style/base/index.scss';

.m-aside-search {
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 62px;
  padding: 6px 12px;
  @include media('<phone') {
    height: 52px;
    align-items: baseline;
    padding: 0 10px 0 10px;
  }
  .s-input-cnt {
    max-width: 100%;
  }
}
