@import "../../../../../style/base/index.scss";
.link-item {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: -0.3px;
  color: $color-title;
  padding-right: 14px;
  &__value{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__icon {
    width: 16px;
    height: 16px;
    padding-right: 5px;
  }
}
