@import "../../../style/base/index.scss";

.contacts-item {
  &__group {
    box-sizing: content-box;
    max-width: 386px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  &__links {
    padding-bottom: 12px;
  }
  &__content {
    padding-bottom: 12px;
    padding-right: 2px;
  }
  &__details--content {
    &:nth-child(4) {
      padding-top: 12px;
    }
  }
  &__key {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: $color-text-01;
    padding-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__value {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: $color-title;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }
  &__section {
    &:after {
      display: block;
      content: " ";
      background: $color-bg-10;
      opacity: 0.3;
      width: 100%;
      height: 1px;
    }
  }
}
