@import "../../style/base/index.scss";
@import "./styles/lib.scss";

.basic-calendar{
  .entities-list-calendar,
  .react-calendar {
    position: absolute;
    top: 159px;
    right: 462px;
    z-index: 12000;
    width: 360px;
    transition-duration: $animation-time-primary;
    opacity: 0;
    visibility: hidden;
    &-show {
      opacity: 1;
      visibility: visible;
    }
    &-title,
    .react-calendar__year-view .react-calendar__tile,
    .react-calendar__decade-view .react-calendar__tile,
    .react-calendar__century-view .react-calendar__tile {
      font-family: $font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      transition: $animation-time-primary;
      background: transparent;

      padding-top: 0;
      padding-bottom: 0;
      height: 56px;
      color: $color-grey-02;
      &:hover {
        p {
          color: $color-grey-02;
        }
      }

      &:hover {
        border-radius: 6px;
        background: $color-bg-08;
      }
      @include media("<phone") {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.3px;
      }
      &--active,
      &--hasActive {
        p {
          color: #ffffff;
          letter-spacing: -0.3px;
        }
        &:hover {
          background: var(--accent-color-secondary);
          p {
            color: #ffffff;
          }
        }
        border-radius: 6px;
        background: var(--accent-color-secondary);
        color: #ffffff;
        span {
          color: #ffffff;
        }
      }
    }
    @mixin calendar-buttons() {
      position: absolute;
      z-index: 22000;
      cursor: pointer;
      right: 3%;
      height: 47px;
      width: 94%;
      transition-duration: $animation-time-primary;
      font-size: 18px;
      font-style: normal;
      line-height: 22px;
      letter-spacing: -0.6px;
      &:active {
        background: var(--accent-color-secondary);
        color: #ffffff;
      }

      border-top: 1px solid rgba(155, 155, 155, 0.15);
      @include media("<=1000px") {
        width: 84%;
        right: 8%;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.6px;
      }
      @include media("<phone") {
        right: 3%;
        width: 94%;
      }
    }
    &__cancel-button,
    &__cancel-button.m-card-btn {
      @include calendar-buttons();
      top: 401px;
      color: #4e4e4e;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 4px;
    }
    &__apply-button,
    &__apply-button.m-card-btn {
      @include calendar-buttons();
      top: 354px;
      font-weight: 600;
      color: var(--accent-color-primary);
      padding-right: 3px;
      padding-bottom: 2px;
    }

    &-news-count {
      font-family: $font-family;
      font-style: normal;
      transition: $animation-time-primary;
      font-size: 10px;
      line-height: 13px;
      text-align: center;
      letter-spacing: -0.3px;
      color: $color-text-02;

      &-digit {
        font-weight: 600;
        color: var(--accent-color-primary);
      }
      @include media("<phone") {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.5px;
      }
    }
    @include media("<=1000px") {
      top: 79px;
      right: 8%;
      height: 369px;
      width: 84%;
    }
    @include media("<phone") {
      top: 79px;
      right: 3%;
      width: 94%;
    }
  }

  .react-calendar {
    border: none;

    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06), 0 12px 30px rgba(0, 0, 0, 0.2);

    &__year-view__months,
    &__decade-view__years,
    &__century-view__decades {
      button:nth-child(6n + 1),
      button:nth-child(6n + 2),
      button:nth-child(6n + 3) {
        background: $color-bg-03;
      }
    }
    &__navigation {
      justify-content: center;
      margin-bottom: 6px;
      margin-top: 2px;

      &__arrow {
        max-height: 19px;
        padding: 0;
        color: var(--accent-color-secondary);
        align-self: center;
        border-radius: 3px;
        svg {
          height: 19px;
          path {
            fill: var(--accent-color-secondary);
          }
        }
        &:hover,
        &:active {
          background: $color-bg-08;
        }
      }
      button {
        min-width: 14px;
      }
      &__label {
        margin-top: 1px;
        margin-left: 3px !important;
        margin-right: 3px !important;
        min-height: 32px;
        align-self: center;
        font-family: $font-family;
        width: 75px;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        letter-spacing: -0.3px;
        flex-grow: 0 !important;
        color: $color-grey-02;
        line-height: 15px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        &[disabled] {
          background: #ffffff !important;
        }
        &:hover,
        &:active {
          background: $color-bg-08;
          border-radius: 6px;
        }
        @include media("<phone") {
          font-size: 14px;
          padding-top: 2px;
        }
      }
    }
  }

}

