@import '../../../../../../style/base/index';
@import '../../MediaSection';

.ms-slider-item-cnt {
  width: 100%;
  &--image {
    max-width: $slider-width;
  }
  &--video {
    max-width: $slider-width-video;
  }
}

.ms-slider-item {
  width: 100%;
  padding-bottom: 60%;
  max-width: $slider-width;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06), 0 12px 30px rgba(0, 0, 0, 0.2);
  font-size: 0;
  display: inline-block;
  position: relative;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    height: 100%;
    width: 100%;
    background-color: $color-bg-16;
  }
  &__video {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: $slider-height-video;
    padding-bottom: 60%;
    background-color: #000;
    background-image: url('../imgs/youtube-official-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &--image {
    @include media('<1200px') {
      //height: 100%;
      //max-height: $slider-height;
    }
  }

  &--video {
    height: $slider-height-video;
    max-width: $slider-width-video;
    @include media('<1100px') {
      height: 100%;
      max-height: $slider-height-video;
    }
  }
}

//slider item content
.si-content {
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: $color-bg-04;
  margin-top: 12px;
  &__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  &__desc {
    font-size: 12px;
    line-height: 15px;
    &-content {
      margin-right: 6px;
    }
  }
}

//override result item
.tag-result-item {
  padding-top: 12px;
  height: auto;
  padding-bottom: 15px;
  border-radius: 5px;
  .m-result-item {
    &__flag {
      margin-left: 12px;
    }
    &__right-cnt {
      margin-right: 13px;
    }
  }
}
