@import "../../../../../../../style/base/index";

.t-item-title {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: $color-title;
  font-weight: 600;

  &__text {
    margin-right: 5px;
  }

  &__link {
    display: inline-block;
  }
}
