@import '../../../style/base/index.scss';

@mixin hoverColumnTitle() {
  .m-column-title {
    &__text {
      color: var(--accent-color-primary);
      text-decoration: underline;
    }

    &__num {
      color: var(--accent-color-primary);

      &:before {
        background-color: var(--accent-color-primary);
      }
    }
  }
}

.m-column-title {
  @extend .m-title;
  position: relative;
  text-align: left;
  padding: 6px 20px 0 20px;
  transition: color $animation-time-primary;
  @include media('<phone') {
    font-size: 17px;
    color: $color-title;
    padding: 6px 14px 0 14px;
    line-height: 22px;
    .m-column-title {
      color: $color-title-phone;
      &__num {
        font-size: 18px;
        letter-spacing: -0.3px;
        margin-left: 6px;
        padding-left: 8px;
        &:before {
          width: 3px;
          height: 3px;
          background-color: $color-grey-01;
        }
      }
      &__text {
        font-size: 20px;
      }

      &__arrow {
        right: 5px;
      }
    }
  }

  &__text {
    display: inline-block;
    transition: color $animation-time-primary;
  }

  &__num {
    position: relative;
    margin-left: 5px;
    padding-left: 9px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: $color-text;
    transition: color $animation-time-primary;

    &:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 100px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: $color-text;
      transition: background-color $animation-time-primary;
    }
  }

  &__arrow {
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &--mod-1 {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.2px;
    padding: 13px 17px 13px 20px;

    @include media('<phone') {
      font-size: 15px;
      padding: 12px 12px;
    }
  }

  &--mod-2 {
    padding: 6px 20px;
    @include media('<phone') {
      letter-spacing: -0.3px;
      font-size: 17px;
      padding: 8px 12px;
    }
  }
  &--mod-3 {
    @include media('<phone') {
      padding-top: 10px;
      padding-bottom: 0;
      .m-column-title__text {
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
        letter-spacing: -0.3px;
      }
    }
  }
  &--mod-4 {
    padding-bottom: 4px;
  }
  &--mod-5 {
    padding-bottom: 12px;
  }
  /**
    allow hover effect
   */
  &--mod-hover {
    cursor: pointer;
    &:hover {
      @include hoverColumnTitle();
    }
  }
}
