@import 'styles/base/index.scss';

.m-column-description {
  padding: 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: $color-text-01;

  @include media('<phone') {
    padding: 0 14px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: $color-text-01;
    margin-top: 2px;
  }
}
