@import "../../../style/base/index.scss";
@mixin basicNameStyles {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  max-height: 16px;
  letter-spacing: -0.3px;
  color: $color-grey-02;
  cursor : pointer;
}
.m-sponsor-item {
  padding-left: 20px;
  padding-right: 34px;
  display: flex;
  margin-top: 8px;
  box-sizing: border-box;
  &__img-cnt {
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media("<phone") {
      margin-top: 5px;
      height: 40px;
      width: 40px;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-bg-04;
  }
  &__text-cnt {
    margin-left: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    &,
    & > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include media("<phone") {
      margin-left: 10px;
    }
    &_without-image {
      margin-left: 0;
    }
  }
  &__name {
    @include basicNameStyles;
    margin-bottom: 3px;
  }
  &__tagline {
    flex: 1;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    max-height: 15px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: $color-bg-02;
    @include media("<phone") {
      font-weight: normal;
    }
  }
  @include media("<1100px") {
    margin-bottom: 11px;
  }
  @include media("<phone") {
    padding-left: 13px;
    height: 63px;
    margin-top: 0;

    padding-right: 11px;
    align-items: center;
  }
  &--aside {
    margin-top: 0;
    margin-bottom: 0;
    .m-sponsor-item__placeholder {
      height: 63px;
      width: 63px;
    }
    .m-sponsor-item__img-cnt {
      height: 80px;
      width: 80px;
      @include media("<phone") {
        height: 54px;
        width: 54px;
      }
    }
    .m-sponsor-item__name {
      font-size: 18px;
      line-height: 22px;
      max-height: 22px;
      letter-spacing: -0.6px;
      @include media("<phone") {
        @include basicNameStyles;
      }
    }
    .m-sponsor-item__text-cnt {
      margin-left: 16px;
      @include media("<phone") {
        margin-left: 12px;
      }
    }

    @include media("<phone") {
      padding-left: 21px;
    }
  }
}
.m-sponsor-aside-list__item {
  background: white;
  height: 88px;
  padding-top: 4px;

  &:nth-child(even) {
    @include media("<phone") {
      background: $color-bg-04;
      .m-sponsor-item__placeholder {
        background: white;
      }
    }
  }
  &:first-child {
    padding-top: 15px;
    height: 97px;
    @include media("<phone") {
      height: 78px;
      padding-top: 10px;
    }
  }
  &:last-child {
    padding-bottom: 23px;
    height: 103px;
    @include media("<phone") {
      height: 80px;
      padding-bottom: 7px;
      padding-top: 4px;
    }
  }
  @include media("<phone") {
    height: 76px;
  }
}
