@import '../../../style/base/index.scss';

.s-input-cnt {
  position: relative;
  max-width: 426px;
  width: 100%;

  label {
    position: relative;
  }

  &__icon {
    width: 16px;
    position: absolute;
    left: 13px;
    top: 0;
    bottom: 0;
    margin: auto;

    &--mobile {
      left: 9px;
    }
  }

  &__btn {
    user-select: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.4px;
    color: $color-grey-03;
    transition: color 0.2s ease 0s;
    position: absolute;
    right: 0;
    margin: auto;
    padding: 17px 16px;

    &:hover,
    &--active {
      color: $color-action-primary;
    }

    &--disabled {
      pointer-events: none;
    }
  }
}

.s-input {
  font-family: $font-family;
  color: $color-title;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.4px;
  height: 47px;
  width: 100%;
  padding: 0 37px;
  border: none;
  background: $color-bg-03;
  border-radius: 9px;
  -webkit-appearance: none; //remove shadow on ios

  @include placeholder() {
    font-family: $font-family;
    color: $color-text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.4px;
  }

  &--search-btn {
    padding-right: 75px;
  }

  &--mobile {
    height: 42px;
    background: $color-bg-04;
    mix-blend-mode: normal;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    letter-spacing: -0.3px;
    padding: 0 30px;
    font-size: 16px;

    @include placeholder() {
      font-size: 14px;
      letter-spacing: -0.5px;
      color: $color-text;
    }
  }
}
