@import '../../../../style/base/index.scss';

.entity-filter {
  &__list-cnt {
    position: absolute;
    left: 0;
    top: 138px;
    width: 100%;
    height: 100%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.06), 0 6px 30px rgba(0, 0, 0, 0.2);
    z-index: $z-index-overlay;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity $animation-time-primary;
    @include media('<479px') {
      top: 104px;
  }

    &--show {
      pointer-events: auto;
      opacity: 1;
  }
}

  &__list {
    width: 100%;
    background-color: #ffffff;
    max-height: calc(100% - 138px);
    overflow-y: scroll;
    @include media("<phone"){
      max-height: calc(100% - 104px);
    }
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  &__item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 47px;
    letter-spacing: -0.6px;
    height: 47px;
    text-align: center;
    cursor: pointer;
    color: black;

    &:not(:last-child) {
      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 364px;
        margin: 0 auto;
        background-color: rgba(155, 155, 155, 0.15);
    }
  }
}
  &__button {
    cursor: pointer;
    position: absolute;
    top: 86px;
    width: 38px;
    right: 26px;
    display: flex;
    justify-content: center;
    height: 38px;
    align-items: center;
    border-radius: 50%;
    transition: background-color $animation-time-primary;
    path {
      transition: fill $animation-time-primary;
  }
    &--active {
      background-color: var(--accent-color-secondary, $color-action-primary);
      path {
        fill: white;
    }
  }
    @include media('<479px') {
      top: 54px;
      right: 16px;
  }
}
  &__overlay {
    &.overlay {
      pointer-events: none;
      opacity: 0;
      position: initial;
      &--anim-in {
        pointer-events: auto;
    }
  }
}
}
