@import '../../../../style/base/index';
@import '../../../../style/common/animations';

$slider-height: 450px;
$slider-width: 750px;

$slider-height-video: 442px;
$slider-width-video: 787px;

.media-section {
  height: 100%;
  background: rgba(116, 116, 116, 0.8);
  @include media('<900px') {
    overflow: auto;
    background-color: rgba(143, 143, 143, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
  }
}
