.svg-image-cnt {
  font-size: 0;
}

.svg-image {
  font-size: 0;
  display: inline-flex;

  svg {
    width: 100%;
    //issue under mobile phone and in browser when zoom in/out
    //height: 100%;
  }

  &--svg-full {
    svg {
      width: 100% !important;
      //issue under mobile phone and in browser when zoom in/out
      //height: 100%;
    }
  }
}
