@import 'styles/base/index.scss';

.m-btn-m1 {
  cursor: pointer;
  user-select: none;
  border: 1px solid $color-grey-03;
  border-radius: 3px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: $color-title;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  padding: 0 5px;

  &--inline {
    display: inline-flex;
  }

  &--primary {
    margin-bottom: 15px;
    @include media('<phone') {
      height: 33px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.3px;
      margin-top: 12px;
    }
  }
}
