@import '../../../../style/base/index';

.timeline {
  background-color: #fff;
  border-top: 1px solid $color-bg-08;
  width: 100%;
  height: 100%;
  &__content {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
