@import "../../../style/base/index.scss";

.calendar-btn {
  width: 38px;
  border-radius: 50%;
  height: 38px;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: $animation-time-primary;
  path {
    transition-duration: $animation-time-primary;
    fill: var(--accent-color-primary);
  }

  &:hover {
    @include media(">phone") {
      path {
        fill: #ffffff;
      }
      background: $color-hover-primary;
    }
  }

  &--active {
    path {
      fill: #ffffff;
    }
    background: var(--accent-color-primary);
  }
  &--mod-1 {
    width: 48px;
    height: 48px;
    svg {
      width: 24px;
      height: 100%;
    }
  }
}
