.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--grayscale {
    filter: grayscale(100%);
  }

  &--default {
    width: auto;
    height: auto;
  }
  &--type-1 {
    padding: 10px;
  }
  &--cursor {
    cursor: pointer;
  }
}
